#bugs {
    padding: 0;
    flex-wrap: wrap;
}

#bugs li {
    list-style: none;
    position: relative;
    background: steelblue;
    border: 1px solid orange;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    box-shadow: 1px 1px 2px #ccc;
}

#bugs li h1 {
    font-size: 1.1rem;
    margin: 5px;
}

#bugs li img {
    width: 50%;
    margin-top: 10px;
}

#bugs p { 
    text-align: center;
}

#bugs price { 
    font: 10px;
}